@import "navigation.css";
@import "showcase.css";
@import "news.css";
@import "email.css";
@import "category.css";
@import "parther.css";
@import "footer.css";

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Graphik, sans-serif;
    font-size: 16px;
}
