.partner {
    padding: 48px 24px;
}
.partner__info {
    text-align: center;
}
.partner__header {
    color: #64f;
    font-size: 28px;
    font-weight: 600;
    font-family: auto;
    margin-top: 8px;
}
.partner__paragraph {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: rgba(51, 68, 85);
    line-height: 27px;
}
.partner__span {
    color: #89a;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}

.partner__button {
    background-color: #64f;
    text-decoration: none;
    padding: 16px;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
}

.partner__button:hover {
    background-color: rgb(113, 82, 248);
}

.partner__types {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    margin-top: 64px;
    flex-wrap: wrap;
    gap: 16px;
}

.partner__types-item {
    flex-basis: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner__types-item img {
    width: 96px;
}

.partner__types-item h3 {
    color: rgb(68 86 105);
}
.partner__companies {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 0 8px;
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.partner__company {
    flex-basis: calc(50% - 4px);
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.partner__company a {
    display: block;
    position: relative;
    padding-top: 56.25%;
}

.partner__company img {
    opacity: 0.5;
    transition: opacity 0.25s ease;
    position: absolute;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-position: 50% 50%;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.partner__company:hover img {
    opacity: 0.75;
}

@media screen and (min-width: 768px) {
    .partner {
        padding: 56px 40px;
    }

    .partner__header {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .partner__types {
        margin-top: 0;
    }
    .partner__types-item img {
        width: 112px;
    }

    .partner__info-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }

    .partner__info {
        text-align: left;
    }

    .partner__info,
    .partner__types {
        flex-basis: 50%;
    }

    .partner__company {
        flex-basis: calc(33.334% - 8px);
    }

    .partner__companies {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .partner {
        max-width: 1280px;
        margin: 0 auto;
        padding: 56px 32px;
    }

    .partner__types-item {
        flex-direction: row;
        gap: 16px;
    }

    .partner__companies {
        margin-top: 48px;
        flex-wrap: nowrap;
    }
}
