.home__stories-wrapper {
    padding: 0 24px;
}

.home__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.home__list-items {
    display: flex;
    list-style: none;
    margin-bottom: 2rem;
    flex-basis: 100%;
}

.home__list-img {
    margin-right: 1.5rem;
    flex-basis: 25%;
}

.home__list-img a {
    height: 0;
    display: block;
    padding-top: 100%;
    position: relative;
}

.home__image {
    position: absolute;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background-position: 50% 50%;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.home__header-wrapper {
    line-height: 1.25rem;

    flex: 1;
}

.home__item-link {
    text-decoration: none;
    line-height: 24px;
}
.home__header-news {
    text-align: center;
}

.home__header-news h2 {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 2rem;
    font-family: auto;
}

.home__header-wrapper h3 {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
}

.home__header-wrapper a {
    color: black;
    font-weight: 700;
}

.home__header-wrapper span {
    opacity: 0.4;
    font-size: smaller;
    text-transform: uppercase;
}

.home__header-wrapper a,
.home__header-wrapper span {
    padding: 0.25rem;
    margin: -0.25rem;
    border-radius: 0.25rem;
    transition: color 125ms ease, box-shadow 0.25s ease;
}

@media screen and (max-width: 375px) {
    .home__item-link {
        line-height: 18px;
    }
}

@media screen and (min-width: 768px) {
    .home__list-items {
        flex-basis: calc(50% - 12px);
        flex-direction: column;
    }

    .home__list {
        gap: 24px;
    }

    .home__list-img a {
        padding-top: 56.25%;
    }

    .home__header-wrapper h3 {
        margin-top: 1rem;
    }

    .home__list-img {
        margin-right: 0;
    }

    .home__header-news h2 {
        text-align: left;
    }
}
